<main class="body">
        <div class="containers containers1">
            <div class="box">
                <h3>Orders Preparing</h3>
                <ul class="list-group">
                    {{#each orders}}
                    {{!-- {{#if (isEqual1 dataValues.StatusId)}} --}}
                    <li class="list-group-item list-group-item-danger">{{dataValues.id}} - {{dataValues.customer}}
                    <button type="button" class="btn btn-outline-danger btn-sm order-details" data-id="{{dataValues.id}}">Order Details</button>
                    <button type="button" class="btn btn-outline-danger btn-sm preparing" data-status="{{dataValues.statusId}}" data-id="{{dataValues.id}}">Ready</button>
                    </li>
                    <a>Order Created on <span>{{moment dataValues.createdAt format="MM-DD-YYYY"}}</span> at <span>{{moment dataValues.createdAt format="h:mm:ss a"}}</span></a>
                    {{!-- {{/if}} --}}
                    {{/each}}
                </ul>
            </div>
        </div>
        <div class="containers containers2">
            <div class="box box-two">
                <h3>Orders Ready</h3>
                <ul class="list-group">
                    {{#each orders}}
                    {{!-- {{#if (isEqual2 dataValues.StatusId)}} --}}
                    <li class="list-group-item list-group-item-success">{{dataValues.id}} - {{dataValues.customer}}
                    <button type="button" class="btn btn-outline-success btn-sm order-details" data-id="{{dataValues.id}}">Order Details</button>
                    <button type="button" class="btn btn-outline-success btn-sm ready" data-status="{{dataValues.StatusId}}" data-id="{{dataValues.id}}">Pay</button>
                    </li>
                    <a>Order Completed on <span>{{moment dataValues.updatedAt format="MM-DD-YYYY"}}</span> at <span>{{moment dataValues.updatedAt format="h:mm:ss a"}}</span></a>
                    {{!-- {{/if}} --}}
                    {{/each}}
                </ul>
            </div>
        </div>
    </main>